
body {
  background-color: rgb(202, 210, 197);
  margin: 0%;
}

nav {
<<<<<<< HEAD
  height:70px;
  background-color: rgb(176, 193, 180);
=======
  height: 70px;
  background-color: rgb(164, 184, 168);
>>>>>>> 347bc7baed8befb35af40939c092a5188c3dcf28
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
  justify-content: end;
  text-decoration: solid;
}

#h1txt {
  color: #003344;
  margin-left: 30px;
  padding-top: 10px;
  text-shadow: -0.7px -0.7px 0 white, 0.7px -0.7px 0 white, -0.7px 0.7px 0 white,
    0.7px 0.7px 0 white;
}

#btn1,
#btn2, #btn3, #saveButton {
  background-color: #85b9af;
  color: #003344;
  border-color: white;
  margin: 10px;
  margin-top: -45px;
  margin-right: 30px;
  margin-bottom: 10px;
  height: 40px;
}

#status {
  text-align: center;
  align-items: center;
  color: #00AA99;
  width: 100%;
}

#saveButton {
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  align: center;
  width: 100%;
  text-align: center;
  /* color: #FF0000; */ /*just for testing*/
}

span {
  margin: 10px;
  font-size: 1.3rem;
  color: white;
}

a {
  display: flex;
  margin: 10px;
  font-size: 1.3rem;
  color: white;
}

.container {
  text-align: center;
  display: inline-block;
  margin: 30px 20px 20px 100px;
}

.container1 {
  background-color: beige;
<<<<<<< HEAD
  height:500px;
  flex:3;
  padding:20px 35px;
  border-radius:20px;
=======
  flex: 3;
  padding: 20px 35px;
  border-radius: 20px;
>>>>>>> 347bc7baed8befb35af40939c092a5188c3dcf28
  margin: 40px;
}

input {
  margin-left: 300px;
  border-radius: 10px;
  width: 20%;
  height: 37px;
  border-color: rgb(132, 164, 148);
}

#searchButton,
#showDictionary {
  text-align: center;
  width: 100px;
  border-radius: 10px;
  background-color: rgb(42, 111, 105);
  color: white;
  background-color: #85b9af;
  color: #003344;
  border-color: white;
}

#showDictionary {
  width: 150px;
}

button:hover {
  background-color: #00aa88;
  cursor: pointer;
}

h2 {
  padding-top: 20px;
  text-decoration: underline;
  color: black;
}

h3 {
  font-size: 1rem;
}

h4 {
  padding-top: 0px;
  padding-bottom: 15px;
  text-decoration: underline;
  color: black;
  text-align: left;
}

p {
  margin-top: 7px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 40px;
  font-size: 1rem;
}

li {
  margin-top: 7px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 40px;
  font-size: 1rem;
}

ul {
  margin-top: 7px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 40px;
  font-size: 1rem;
}

#saveButton {
  background-color: #85b9af;
  position: relative;
  left: 386px;
  border-radius: 5px;
}

footer {
  background-color: #93bfcf;
  color: white;
  text-align: center;
  justify-content: end;
  padding: 18px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(164, 184, 168);
}

#dumping-ground {
  font-size: 30px;
  text-align: center;
}

.stats {
  font-size: 16px;
  color: #003344;
}

.box{
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;

}
